article.modal
    .modal-content
        .modal-text
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat sit unde aperiam ullam harum voluptate provident, rem velit dolorum consectetur voluptatem nobis, cum culpa ex doloribus nihil commodi magni eligendi. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum, sunt.
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias doloremque tempora unde cum repudiandae, nostrum rerum odio numquam minima enim dolorum, dolor, ea provident. Harum incidunt, corrupti quisquam omnis veritatis dolorem a!
        button.close
            svg.close-icon
                use(xlink:href="#close-icon")
        a(href="#").btn Watch video