svg(style="display:none")
    symbol(id="close-icon" viewBox="0 0 38 34")
        line(fill="none" stroke="#FFFFFF" stroke-width="8" x1="2.978" y1="-1.874" x2="32.978" y2="38.126")
        line(fill="none" stroke="#FFFFFF" stroke-width="8" x1="31.978" y1="-1.874" x2="1.978" y2="38.126")
