doctype html
html(lang='en')
        include partials/head.jade
    body
        // inline svg icon
        // elements defined inside <symbol> will only be rendered when they are referenced – or called – by the <use> element
        include partials/svg.jade
        // modal page markup
        .main-content
            include partials/modal.jade


