/* modal styles */

.modal {
    @include bp(medium) {
        width: 100%;
        max-width: 500px;
        height: 40%;
        min-height: 300px;
    }
    .modal-content {
        height: 100%;
        position: relative;
        padding: 20px 20px 50px;
        background: $pink;
        @include bp(medium) {
            position: relative;
            border-radius: 10px;
        }
    }
    .modal-text {
        height: 100%;
        overflow-y: auto;
        text-align: justify;
        p {
            @include bp(medium) {
                width: 48%;
            }
        }
        p:first-child {
            @include bp(medium) {
                float: left;
            }
        }
        p:last-child {
            @include bp(medium) {
                float: right;
            }
        }
    }
    .close {
        width: 22px;
        height: 22px;
        position: absolute;
        top: 0;
        right: 0;
        border: none;
        border-radius: 100%;
        background: $purple;
        display: none;
        @include bp(medium) {
            display: block;
        }
        .close-icon {
            width: 10px;
            height: 12px;
        }
    }
    .btn {
        display: inline-block;
        position: absolute;
        bottom: 15px;
        left: 50%;
        transform: translateX(-50%);
        padding: 8px 10px;
        color: white;
        font-weight: 600;
        text-decoration: none;
        border-radius: 5px;
        background: $purple;
    }
}